.layout {
	background-image: url('../../assets/img/background.png');
	opacity: 0.95;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: repeat;
	min-height: 100vh;
	height: auto;
	background-size: 300px 100px;
}
