.criteria {
	border-bottom: 2px solid black;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.criteria-name {
	font-size: 18px;
	font-weight: bold;
}

.crit-option {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.crit-label {
	margin: 0px;
}

.price-group {
	display: flex;
}

.price-input {
	margin-right: 25px;
}

.listable-criteria {
	margin-top: 15px;
}
