.diffButton {
	font-size: 35px;
}

.buttons {
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	display: flex;
	justify-content: space-between;
}

.saveButton {
	font-size: 20px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
}

.header-label {
	font-weight: bold;
	font-size: 18px;
}

.header-item {
	margin-left: 15px;
	margin-right: 15px;
}
