body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
}

* {
	box-sizing: border-box;
}

span.mapOutput,
span.mapTip {
	opacity: 0.85;
	background-color: #f7f7f9;
	padding: 0;
	font-weight: bold;
	color: #17a2b8;
}

.container {
	padding-bottom: 30px;
	width: 100%;
}

.white-box {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	height: 80vh, auto;
	background: rgba(255, 255, 255, 0.9);
	padding: 30px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px #888888;
}
