.flex-fill {
	flex: 1;
	flex-direction: row;
}

#toolbar {
	background-color: #0069d9;
	border-color: #black;
	margin-bottom: 20px;
}

.nav .nav-item .nav-link {
	color: white;
	border-bottom: 3px solid transparent;
}

#navbarItems {
	width: 80% !important;
}

.weather-container {
	width: 100px !important;
}

#navbarToggler {
	padding-left: 5%;
}

#logOut {
	padding-right: 10%;
}

#navbarToggler .nav-item:not(.weather-container) .nav-link:hover,
#navbarToggler .nav-link.active {
	color: #ffffff !important;
	border-bottom: 3px solid whitesmoke !important;
	transition-duration: 0.4s;
}

#navbarToggler .nav.navbar-nav .nav-item .nav-link {
	color: white;
	border-bottom: 3px solid transparent;
}

#navbarToggler
	.nav.navbar-nav.menu-items
	.nav-item:not(.weather-container)
	.nav-link:hover {
	color: #ffffff !important;
	border-bottom: 3px solid whitesmoke !important;
	transition-duration: 0.4s;
}
